body button[commons]:disabled {
  cursor: default;
  color: #fff8 !important;
  opacity: 0.5;
  box-shadow: none !important;
  background: #4444 !important;
  &::before {
    content: '';
    background-image: linear-gradient(
      98.03deg,
      rgba(103, 222, 105, 0.45) -7.95%,
      rgba(0, 71, 176, 0.45) 116.37%
    );
  }
}

button[commons] {
  @extend .font-teko;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-indent: 10px;
  position: relative;
  z-index: 100;
  padding: 0 2rem;
  min-height: 64px;
  min-width: 200px;
  font-size: 21px;
  border: 2px solid transparent;
  border-image-slice: 2;
  border-image-source: linear-gradient(94.92deg, #67de69 -57.72%, #0047b0 114.27%);
  &::before {
    content: '';
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      98.03deg,
      rgba(103, 222, 105, 0.5) -7.95%,
      rgba(0, 71, 176, 0.5) 116.37%
    );
  }
}

.text-button {
  @extend .transition;
  color: #43a983;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    color: lighter(#43a983, 5%);
  }
}

button[commons]:hover:not(:disabled) {
  &::before {
    opacity: 0.8;
  }
}
button[commons]:active:not(:disabled) {
  &::before {
    opacity: 0.9;
  }
}

button[primary] {
  color: var(--color-white);
  background: var(--color-primary);
  &:hover {
    background: darker($color-primary);
  }
  &:active {
    background: darker($color-primary, 20%);
  }
}
button[secondary] {
  color: var(--color-white);
  background: var(--color-secondary);
  &:hover {
    background: darker($color-secondary);
  }
  &:active {
    background: darker($color-secondary, 20%);
  }
}
button[tertiary] {
  color: var(--color-white);
  background: var(--color-tertiary);
  &:hover {
    background: darker($color-tertiary);
  }
  &:active {
    background: darker($color-tertiary, 20%);
  }
}
button[success] {
  color: var(--color-white);
  background: var(--color-success);
  &:hover {
    background: darker($color-success);
  }
  &:active {
    background: darker($color-success, 20%);
  }
}
button[error] {
  @extend .font-teko;
  color: var(--color-white);
  background: var(--color-error);
  text-transform: uppercase;
  letter-spacing: 10px;
  text-indent: 10px;
  position: relative;
  z-index: 100;
  padding: 0 2rem;
  min-height: 64px;
  min-width: 200px;
  font-size: 21px;
  border: 2px solid #840E10;
  &:hover {
    background: darker($color-error);
  }
  &:active {
    background: darker($color-error, 20%);
  }
}
button[white] {
  color: var(--color-dark);
  background: var(--color-white);
  &:hover {
    background: darker($color-white, 3%);
  }
  &:active {
    background: darker($color-white, 6%);
  }
}
button[light] {
  color: var(--color-dark);
  background: var(--color-light);
  &:hover {
    background: darker($color-light, 3%);
  }
  &:active {
    background: darker($color-light, 6%);
  }
}
button[muted] {
  color: var(--color-dark);
  background: var(--color-muted);
  &:hover {
    background: darker($color-muted, 3%);
  }
  &:active {
    background: darker($color-muted, 6%);
  }
}
button[grey] {
  color: var(--color-white);
  background: var(--color-grey);
  &:hover {
    background: lighter($color-grey);
  }
  &:active {
    background: lighter($color-grey, 20%);
  }
}
button[dark] {
  color: var(--color-white);
  background: var(--color-dark);
  &:hover {
    background: lighter($color-dark);
  }
  &:active {
    background: lighter($color-dark, 20%);
  }
}
button[black] {
  color: var(--color-white);
  background: var(--color-black);
  &:hover {
    background: lighter($color-black, 13%);
  }
  &:active {
    background: lighter($color-black, 20%);
  }
}

button[small] {
  @extend .p-0p5, .w-100;
}
button[medium] {
  @extend .p-1, .w-150;
}
button[large] {
  @extend .p-1, .w-200;
}
button[expand] {
  @extend .p-1, .w-1-1;
}
