%level-title-base {
  @extend .bold;
}

.level-title {
  @extend %level-title-base, .text-xxl, .text-center;
}
.level-subtitle {
  @extend %level-title-base, .text-xl, .bold;
}

.level-text {
  max-width: 800px;
  font-size: 20px;
  @extend .text-xl, .text-center;
}

.level-image {
  margin-top: 2rem;
  background: grey;
  width: 450px;
  height: 450px;
}
