[bg-primary],
.bg-primary {
  background: var(--color-primary);
}
[bg-secondary],
.bg-secondary {
  background: var(--color-secondary);
}
[bg-tertiary],
.bg-tertiary {
  background: var(--color-tertiary);
}
[bg-success],
.bg-success {
  background: var(--color-success);
}
[bg-error],
.bg-error {
  background: var(--color-error);
}
[bg-white],
.bg-white {
  background: var(--color-white);
}
[bg-light],
.bg-light {
  background: var(--color-light);
}
[bg-muted],
.bg-muted {
  background: var(--color-muted);
}
[bg-grey],
.bg-grey {
  background: var(--color-grey);
}
[bg-dark],
.bg-dark {
  background: var(--color-dark);
}
[bg-black],
.bg-black {
  background: var(--color-black);
}
[bg-transparent],
.bg-transparent {
  background: var(--color-transparent);
}
[bg-transparent-white],
.bg-transparent-white {
  background: var(--color-transparent-white);
}
[bg-transparent-black],
.bg-transparent-black {
  background: var(--color-transparent-black);
}
