[color-primary],
.color-primary {
  color: var(--color-primary);
}
[color-secondary],
.color-secondary {
  color: var(--color-secondary);
}
[color-tertiary],
.color-tertiary {
  color: var(--color-tertiary);
}
[color-success],
.color-success {
  color: var(--color-success);
}
[color-error],
.color-error {
  color: var(--color-error);
}
[color-white],
.color-white {
  color: var(--color-white);
}
[color-light],
.color-light {
  color: var(--color-light);
}
[color-muted],
.color-muted {
  color: var(--color-muted);
}
[color-grey],
.color-grey {
  color: var(--color-grey);
}
[color-dark],
.color-dark {
  color: var(--color-dark);
}
[color-black],
.color-black {
  color: var(--color-black);
}
[color-transparent],
.color-transparent {
  color: var(--color-transparent);
}
