.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.none {
  display: none;
}
.initial {
  display: initial;
}
.box {
  box-sizing: border-box;
}
.content {
  box-sizing: content-box;
}
