// relative heights
.h-auto {
  height: auto;
}
[h-vh],
.h-vh {
  min-height: 100vh;
}
[h-1-1],
.h-1-1 {
  height: 100%;
}

// defined heights
.h-1 {
  height: 1px;
}
.h-2 {
  height: 2px;
}
.h-25 {
  height: 25px;
}
.h-50 {
  height: 50px;
}
.h-75 {
  height: 75px;
}
.h-100 {
  height: 100px;
}
.h-150 {
  height: 150px;
}
.h-200 {
  height: 200px;
}
.h-250 {
  height: 250px;
}
.h-300 {
  height: 300px;
}
.h-350 {
  height: 350px;
}
.h-400 {
  height: 400px;
}
.h-450 {
  height: 450px;
}
.h-500 {
  height: 500px;
}
.h-550 {
  height: 550px;
}
.h-600 {
  height: 600px;
}
.h-650 {
  height: 650px;
}
.h-700 {
  height: 700px;
}
.h-750 {
  height: 750px;
}
.h-800 {
  height: 800px;
}
.h-850 {
  height: 850px;
}
.h-900 {
  height: 900px;
}
.h-950 {
  height: 950px;
}
.h-1000 {
  height: 1000px;
}
