// margin
.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0rem;
}
.m-0p5 {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-1p5 {
  margin: 1.5rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 5rem;
}
.m-6 {
  margin: 6rem;
}
.m-7 {
  margin: 7rem;
}

// margin top
.mt-auto {
  margin-block-start: auto;
}
.mt-0 {
  margin-block-start: 0rem;
}
.mt-0p5 {
  margin-block-start: 0.5rem;
}
.mt-1 {
  margin-block-start: 1rem;
}
.mt-1p5 {
  margin-block-start: 1.5rem;
}
.mt-2 {
  margin-block-start: 2rem;
}
.mt-3 {
  margin-block-start: 3rem;
}
.mt-4 {
  margin-block-start: 4rem;
}
.mt-5 {
  margin-block-start: 5rem;
}
.mt-6 {
  margin-block-start: 6rem;
}
.mt-7 {
  margin-block-start: 7rem;
}

// margin bottom
.mb-auto {
  margin-block-end: auto;
}
.mb-0 {
  margin-block-end: 0rem;
}
.mb-0p5 {
  margin-block-end: 0.5rem;
}
.mb-1 {
  margin-block-end: 1rem;
}
.mb-1p5 {
  margin-block-end: 1.5rem;
}
.mb-2 {
  margin-block-end: 2rem;
}
.mb-3 {
  margin-block-end: 3rem;
}
.mb-4 {
  margin-block-end: 4rem;
}
.mb-5 {
  margin-block-end: 5rem;
}
.mb-6 {
  margin-block-end: 6rem;
}
.mb-7 {
  margin-block-end: 7rem;
}

// margin left
.ml-auto {
  margin-inline-start: auto;
}
.ml-0 {
  margin-inline-start: 0rem;
}
.ml-0p5 {
  margin-inline-start: 0.5rem;
}
.ml-1 {
  margin-inline-start: 1rem;
}
.ml-1p5 {
  margin-inline-start: 1.5rem;
}
.ml-2 {
  margin-inline-start: 2rem;
}
.ml-3 {
  margin-inline-start: 3rem;
}
.ml-4 {
  margin-inline-start: 4rem;
}
.ml-5 {
  margin-inline-start: 5rem;
}
.ml-6 {
  margin-inline-start: 6rem;
}
.ml-7 {
  margin-inline-start: 7rem;
}

// margin right
.mr-auto {
  margin-inline-end: auto;
}
.mr-0 {
  margin-inline-end: 0rem;
}
.mr-0p5 {
  margin-inline-end: 0.5rem;
}
.mr-1 {
  margin-inline-end: 1rem;
}
.mr-1p5 {
  margin-inline-end: 1.5rem;
}
.mr-2 {
  margin-inline-end: 2rem;
}
.mr-3 {
  margin-inline-end: 3rem;
}
.mr-4 {
  margin-inline-end: 4rem;
}
.mr-5 {
  margin-inline-end: 5rem;
}
.mr-6 {
  margin-inline-end: 6rem;
}
.mr-7 {
  margin-inline-end: 7rem;
}

// margin horizontal
.mh-auto {
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.mh-0 {
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
}
.mh-0p5 {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}
.mh-1 {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
.mh-1p5 {
  margin-inline-start: 1.5rem;
  margin-inline-end: 1.5rem;
}
.mh-2 {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}
.mh-3 {
  margin-inline-start: 3rem;
  margin-inline-end: 3rem;
}
.mh-4 {
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
}
.mh-5 {
  margin-inline-start: 5rem;
  margin-inline-end: 5rem;
}
.mh-6 {
  margin-inline-start: 6rem;
  margin-inline-end: 6rem;
}
.mh-7 {
  margin-inline-start: 7rem;
  margin-inline-end: 7rem;
}

// margin vertical
.mv-auto {
  margin-block-start: auto;
  margin-block-end: auto;
}
.mv-0 {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}
.mv-0p5 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
.mv-1 {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}
.mv-1p5 {
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}
.mv-2 {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}
.mv-3 {
  margin-block-start: 3rem;
  margin-block-end: 3rem;
}
.mv-4 {
  margin-block-start: 4rem;
  margin-block-end: 4rem;
}
.mv-5 {
  margin-block-start: 5rem;
  margin-block-end: 5rem;
}
.mv-6 {
  margin-block-start: 6rem;
  margin-block-end: 6rem;
}
.mv-7 {
  margin-block-start: 7rem;
  margin-block-end: 7rem;
}
