// padding
.p-auto {
  padding: auto;
}
.p-0 {
  padding: 0rem;
}
.p-0p5 {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-1p5 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}
.p-6 {
  padding: 6rem;
}
.p-7 {
  padding: 7rem;
}

// padding top
.pt-auto {
  padding-block-start: auto;
}
.pt-0 {
  padding-block-start: 0rem;
}
.pt-0p5 {
  padding-block-start: 0.5rem;
}
.pt-1 {
  padding-block-start: 1rem;
}
.pt-1p5 {
  padding-block-start: 1.5rem;
}
.pt-2 {
  padding-block-start: 2rem;
}
.pt-3 {
  padding-block-start: 3rem;
}
.pt-4 {
  padding-block-start: 4rem;
}
.pt-5 {
  padding-block-start: 5rem;
}
.pt-6 {
  padding-block-start: 6rem;
}
.pt-7 {
  padding-block-start: 7rem;
}

// padding bottom
.pb-auto {
  padding-block-end: auto;
}
.pb-0 {
  padding-block-end: 0rem;
}
.pb-0p5 {
  padding-block-end: 0.5rem;
}
.pb-1 {
  padding-block-end: 1rem;
}
.pb-1p5 {
  padding-block-end: 1.5rem;
}
.pb-2 {
  padding-block-end: 2rem;
}
.pb-3 {
  padding-block-end: 3rem;
}
.pb-4 {
  padding-block-end: 4rem;
}
.pb-5 {
  padding-block-end: 5rem;
}
.pb-6 {
  padding-block-end: 6rem;
}
.pb-7 {
  padding-block-end: 7rem;
}

// padding left
.pl-auto {
  padding-inline-start: auto;
}
.pl-0 {
  padding-inline-start: 0rem;
}
.pl-0p5 {
  padding-inline-start: 0.5rem;
}
.pl-1 {
  padding-inline-start: 1rem;
}
.pl-1p5 {
  padding-inline-start: 1.5rem;
}
.pl-2 {
  padding-inline-start: 2rem;
}
.pl-3 {
  padding-inline-start: 3rem;
}
.pl-4 {
  padding-inline-start: 4rem;
}
.pl-5 {
  padding-inline-start: 5rem;
}
.pl-6 {
  padding-inline-start: 6rem;
}
.pl-7 {
  padding-inline-start: 7rem;
}

// padding right
.pr-auto {
  padding-inline-end: auto;
}
.pr-0 {
  padding-inline-end: 0rem;
}
.pr-0p5 {
  padding-inline-end: 0.5rem;
}
.pr-1 {
  padding-inline-end: 1rem;
}
.pr-1p5 {
  padding-inline-end: 1.5rem;
}
.pr-2 {
  padding-inline-end: 2rem;
}
.pr-3 {
  padding-inline-end: 3rem;
}
.pr-4 {
  padding-inline-end: 4rem;
}
.pr-5 {
  padding-inline-end: 5rem;
}
.pr-6 {
  padding-inline-end: 6rem;
}
.pr-7 {
  padding-inline-end: 7rem;
}

// padding horizontal
.ph-auto {
  padding-inline-start: auto;
  padding-inline-end: auto;
}
.ph-0 {
  padding-inline-start: 0rem;
  padding-inline-end: 0rem;
}
.ph-0p5 {
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}
.ph-1 {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}
.ph-1p5 {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}
.ph-2 {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}
.ph-3 {
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
}
.ph-4 {
  padding-inline-start: 4rem;
  padding-inline-end: 4rem;
}
.ph-5 {
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;
}
.ph-6 {
  padding-inline-start: 6rem;
  padding-inline-end: 6rem;
}
.ph-7 {
  padding-inline-start: 7rem;
  padding-inline-end: 7rem;
}

// padding vertical
.pv-auto {
  padding-block-start: auto;
  padding-block-end: auto;
}
.pv-0 {
  padding-block-start: 0rem;
  padding-block-end: 0rem;
}
.pv-0p5 {
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
}
.pv-1 {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}
.pv-1p5 {
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
}
.pv-2 {
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}
.pv-3 {
  padding-block-start: 3rem;
  padding-block-end: 3rem;
}
.pv-4 {
  padding-block-start: 4rem;
  padding-block-end: 4rem;
}
.pv-5 {
  padding-block-start: 5rem;
  padding-block-end: 5rem;
}
.pv-6 {
  padding-block-start: 6rem;
  padding-block-end: 6rem;
}
.pv-7 {
  padding-block-start: 7rem;
  padding-block-end: 7rem;
}
