.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.top {
  top: 0;
}
.bot {
  bottom: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
