.shadow-s {
  box-shadow: 0 0.7px 3px 0.2px rgba(0, 0, 0, 0.1),
    0 0.7px 2px 0.2px rgba(0, 0, 0, 0.06);
}
.shadow-m {
  box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}
.shadow-l {
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.06),
    0 2px 4px 1px rgba(0, 0, 0, 0.04);
}
.shadow-xl {
  box-shadow: 0 4px 7px 1.5px rgba(0, 0, 0, 0.06),
    0 3px 5px 1.5px rgba(0, 0, 0, 0.04);
}
.shadow-inset {
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.06);
}
.shadow-bot-1 {
  box-shadow: 0 1px black;
}
.shadow-bot-2 {
  box-shadow: 0 2px black;
}
.shadow-none {
  box-shadow: none;
}
